@import './style-index/general.css';
@import './style-index/code.css';
@import './style-index/paint.css';
@import './style-index/print.css';
@import './style-index/about.css';

.sections {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	min-height: 50dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

section:not(:last-of-type) {
	padding-bottom: 18.75rem;
}

section::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10%;
	background: rgb(67, 0, 111);
	filter: blur(125rem);
	z-index: -1;
}

section h2 {
	margin-bottom: 0;
}

section > p {
	margin-top: 1rem;
	margin-bottom: 6.25rem;
	text-align: center;
}

.section-button {
	position: absolute;
	bottom: 3.125rem;
	text-decoration: none;
	color: rgb(var(--accent));
	border-radius: 9000px;
	padding: 0.625rem 1.5625rem;
	border: 1px solid rgb(var(--accent));
	overflow: hidden;
	z-index: 1;
	transition: color 0.4s ease;
}
.section-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(var(--accent));
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.section-button:hover {
	color: black;
}
.section-button:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.separator {
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, transparent 5%, rgb(var(--middle-two)), transparent 95%);
}

@media (hover: hover) {
	.separator {
		background:
			radial-gradient(
				circle var(--big-circle) at var(--x) var(--y),
				rgb(var(--circle-color)) 0%,
				rgba(255, 255, 255, 0) 100%
			),
			linear-gradient(to right, transparent 5%, rgb(var(--middle-two)), transparent 95%);
	}
}
