.about {
	flex-direction: row;
	min-height: 18.75rem;
	margin-bottom: 0;
}

.about-1 {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-1 h2 {
	margin: 0;
	text-align: center;
}

.about-2 {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: start;
	height: 50vh;
	min-height: 18.75rem;
	border-left: 1px solid var(--dark-three);
	background: linear-gradient(to right, var(--dark-two) 50%, transparent);
}

.about-2 p {
	margin: 0;
	max-width: 85%;
	margin-left: 2.5rem;
}

@media screen and (max-width: 767px) {
	.about {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		box-sizing: border-box;
		padding-top: 50px;
	}
	.about-2 {
		border-left: none;
		background: transparent;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: column;
	}
	.about-2 p {
		margin-left: 0;
		margin-top: 20px;
	}
}
