.about {
	flex-direction: row;
	min-height: 18.75rem;
	margin-bottom: 0;
}

.about-1 {
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-1 h2 {
	margin: 0;
	text-align: center;
}

.about-2 {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	min-height: 22rem;
	border-left: 1px solid rgb(var(--dark-three));
	background: linear-gradient(to right, rgb(var(--dark-two)) 50%, transparent);
}

.about-2 h2 {
	margin: 0;
	margin-top: 3rem;
	max-width: 85%;
}

.about-2 p {
	margin: 1rem 0 3rem 0;
	max-width: 85%;
	text-align: center;
}

.about-images {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 2rem;
}

.social-icon {
	width: 5rem;
	height: 5rem;
	fill: rgb(var(--light-one));
	transition: fill 0.3s;
}

@media (hover: hover) {
	.social-icon:hover {
		fill: rgb(var(--accent));
	}
}

@media screen and (max-width: 767px) {
	.about {
		flex-direction: column;
		align-items: center;
		justify-content: start;
		box-sizing: border-box;
		padding-top: 50px;
	}
	.about-2 {
		border-left: none;
		background: transparent;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.about-2 h2 {
		width: 90vw;
	}
	.about-2 p {
		margin-left: 0;
		margin-top: 20px;
	}
}
