.about {
	flex-direction: row;
}

.about-1 {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-1 h2 {
	margin: 0;
}

.about-2 {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: start;
	height: 50vh;
	border-left: 1px solid var(--dark-three);
	background: linear-gradient(to right, var(--dark-two) 50%, transparent);
}

.about-2 p {
	margin: 0;
	max-width: 85%;
	margin-left: 40px;
}
