#program-cards {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	max-width: 70vw;
	margin-bottom: 300px;
}

.program-card {
	margin: 20px;
}

.program-card h3 {
	margin-bottom: 60px;
	margin-top: 30px;
}

.program-card img {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}

.program-card p {
	padding: 0 30px;
}

.description {
	margin: 0;
}

.languages {
	margin: 0;
	margin-top: 40px;
	margin-bottom: 60px;
	width: 85%;
}

.languages-pill {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 8px;
	margin-left: 15px;
	vertical-align: middle;
}

.program-card aside {
	margin-top: 50px;
	margin-bottom: 40px;
	margin-top: auto;

	p {
		margin: 0;
	}
}
