.sections {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	min-height: 50dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

section::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10%;
	background: rgb(67, 0, 111);
	filter: blur(2000px);
	z-index: -1;
}

section h2 {
	margin-bottom: 0;
}

section > p {
	margin-top: 15px;
	margin-bottom: 100px;
	text-align: center;
}

.section-button {
	position: absolute;
	bottom: 50px;
	text-decoration: none;
	color: var(--accent);
	border-radius: 9000px;
	padding: 10px 25px;
	border: 1px solid var(--accent);
}

.separator {
	height: 1px;
	width: 95%;
	background: linear-gradient(to right, transparent, var(--middle-two), transparent);
}

.main-stroke {
	margin: 0;
	margin-top: -12rem;
	z-index: -1;
}

.track {
	width: 100%;
	overflow: hidden;
	height: auto;
	margin-bottom: 200px;
}

.main-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	perspective: 50vh;
	width: 100%;
	height: 90vh;
}

#card {
	margin-top: 150px;
	min-height: min(50vh, 900px);
	width: min(80vw, 800px);
	position: absolute;
}
#card p {
	width: 85%;
	margin: 0;
	margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.main-cards {
		height: auto;
		flex-direction: column;
		perspective: none;
	}
	#card {
		position: static;
		margin-top: 50px;
		width: 90vw;
		min-height: auto;
		transform: none !important;
	}
	.track {
		height: auto;
	}
}
