.main {
	padding-bottom: 0px !important;
}

.main-stroke {
	margin: 0;
	margin-top: -12rem;
	z-index: -1;
}
.main-stroke::before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	background:
		radial-gradient(circle at var(--x, -50%) var(--y, -50%), rgba(var(--circle-color), 0.07) 0%, transparent 20%),
		radial-gradient(ellipse at top, rgb(47, 0, 88) 20%, rgb(var(--dark-one)) 80%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0;
	z-index: 1;
}

.stars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80rem;
	z-index: -1;
	background: transparent;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
}

.star {
	position: absolute;
	background: white;
	border-radius: 50%;
	opacity: 0.8;
	width: 2px;
	height: 2px;
	animation:
		twinkle 3s infinite,
		float-star var(--move-duration, 60s) var(--move-delay, 0s) ease-in-out infinite alternate;
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes float-star {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(var(--move-x, 20px), var(--move-y, 20px));
	}
}

#renderSurface {
	display: none;
}
@media (hover: hover) {
	#renderSurface {
		display: block;
		background-color: black;
		width: 100vw;
		height: calc(100% - 90vh);
		position: absolute;
		z-index: -1;
		bottom: 0;
		opacity: 0.2;
		-webkit-mask-image: linear-gradient(to top, black 0%, black 50%, rgba(0, 0, 0, 0.05) 90%, transparent 100%);
		mask-image: linear-gradient(to top, black 0%, black 50%, rgba(0, 0, 0, 0.05) 90%, transparent 100%);
	}
}

.first-banner {
	margin-top: 18rem;
}

.swiper-banner {
	height: 6.25rem;
	width: 80%;
	max-width: 112rem;
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
	mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.banner {
	display: flex;
	gap: 3rem;
	width: max-content;
	animation: scroll-banner 80s linear infinite;
}

.reverse-banner {
	animation: scroll-banner 80s linear infinite reverse;
}

@keyframes scroll-banner {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-50% - 1.5rem));
	}
}

.banner-el {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 1.25rem;
	padding: 0 3.125rem;
	height: 3.125rem;
	background: rgb(var(--dark-one));
	border-radius: 9999px;
	border: 1px solid transparent;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	--x: -100px;
	--y: -100px;
	background:
		radial-gradient(
				circle var(--circle) at var(--x) var(--y),
				rgba(var(--circle-color), 0.1) 0%,
				rgba(255, 255, 255, 0) 100%
			)
			padding-box,
		radial-gradient(ellipse at top, rgb(var(--dark-three)) 10%, rgb(var(--dark-one)) 90%) padding-box,
		radial-gradient(
				circle var(--circle) at var(--x) var(--y),
				rgb(var(--circle-color)) 0%,
				rgba(255, 255, 255, 0) 100%
			)
			border-box,
		linear-gradient(to right, rgb(var(--dark-three)), rgb(var(--middle-three)), rgb(var(--dark-three))) border-box;
	will-change: background-position;
}

.banner-el img {
	max-height: 60%;
	object-fit: contain;
}

.general-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 70%;
	max-width: 87rem;
	gap: 3rem;
	margin: 6.25rem 0;
}

.general-info h2 {
	margin: 0;
}

.general-info > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.general-info p {
	margin: 1.25rem 0;
}

@media screen and (max-width: 1000px) {
	.general-info {
		grid-template-columns: 1fr;
	}
}

.track {
	width: 100%;
	height: auto;
	margin-bottom: 12.5rem;
	margin-top: 10rem;
}

.main-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	perspective: 50vh;
	width: 100%;
	height: max(54vh, 60rem) !important;
}

#card {
	min-height: min(50vh, 56rem);
	width: clamp(40rem, 80vw, 50rem);
	position: absolute;
}

#card p {
	width: 85%;
	margin: 0;
	margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
	section:not(:last-of-type) {
		padding-bottom: 150px;
	}
	.main {
		padding-bottom: 150px !important;
	}
	.main-cards {
		height: auto;
		flex-direction: column;
		perspective: none;
	}
	#card {
		position: static;
		margin-top: 50px;
		width: 90vw;
		min-height: auto;
		transform: none !important;
	}
	.track {
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	.swiper-banner {
		display: none;
	}
	.main-stroke {
		display: none;
	}
	.stars {
		height: 150rem;
	}
}
