.sections {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	min-height: 50dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

section::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10%;
	background: rgb(67, 0, 111);
	filter: blur(2000px);
	z-index: -1;
}

.separator {
	height: 1px;
	width: 95%;
	background: linear-gradient(to right, transparent, var(--middle-two), transparent);
}

.main-stroke {
	margin: 0;
	margin-top: -12rem;
	z-index: -1;
}

.track {
	width: 100%;
	overflow: hidden;
	height: 160vh;
}

.main-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	perspective: 50vh;
	width: 100%;
	height: 70vh;
}

#card {
	margin-top: 150px;
	height: 900px;
	width: 800px;
	position: absolute;
}
#card p {
	width: 85%;
	margin: 0;
	margin-bottom: 30px;
}

section h2 {
	margin-bottom: 0;
}

section p {
	margin-top: 15px;
	margin-bottom: 100px;
}

.section-button {
	position: absolute;
	bottom: 50px;
	text-decoration: none;
	color: var(--accent);
	border-radius: 9000px;
	padding: 10px 25px;
	border: 1px solid var(--accent);
}
