.sections {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	min-height: 50dvh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

section:not(:last-of-type) {
	padding-bottom: 300px;
}

section::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 10%;
	background: rgb(67, 0, 111);
	filter: blur(2000px);
	z-index: -1;
}

section h2 {
	margin-bottom: 0;
}

section > p {
	margin-top: 15px;
	margin-bottom: 100px;
	text-align: center;
}

.section-button {
	position: absolute;
	bottom: 50px;
	text-decoration: none;
	color: var(--accent);
	border-radius: 9000px;
	padding: 10px 25px;
	border: 1px solid var(--accent);
	overflow: hidden;
	z-index: 1;
	transition: color 0.4s ease;
}
.section-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.section-button:hover {
	color: black;
}
.section-button:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

.separator {
	height: 1px;
	width: 95%;
	background: linear-gradient(to right, transparent, var(--middle-two), transparent);
}

.main {
	padding-bottom: 0px !important;
}

.main-stroke {
	margin: 0;
	margin-top: -12rem;
	z-index: -1;
}
.main-stroke::before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	background: radial-gradient(ellipse at top, rgb(47, 0, 88) 20%, var(--dark-one) 80%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke: 0;
	z-index: 1;
}

.stars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80rem;
	z-index: -1;
	background: transparent;
	overflow: hidden;
	-webkit-mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
}

.star {
	position: absolute;
	background: white;
	border-radius: 50%;
	opacity: 0.8;
	width: 2px;
	height: 2px;
	animation:
		twinkle 3s infinite,
		float-star var(--move-duration, 60s) var(--move-delay, 0s) ease-in-out infinite alternate;
}

@keyframes twinkle {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

@keyframes float-star {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(var(--move-x, 20px), var(--move-y, 20px));
	}
}

#renderSurface {
	display: none;
}
@media (hover: hover) {
	#renderSurface {
		display: block;
		background-color: black;
		width: 100vw;
		height: 100%;
		position: absolute;
		z-index: -1;
		bottom: 0;
		opacity: 0.2;
		-webkit-mask-image: linear-gradient(to top, black 0%, black 50%, transparent 100%);
		mask-image: linear-gradient(to top, black 0%, black 50%, transparent 100%);
	}
}

.first-banner {
	margin-top: 300px;
}

.swiper-banner {
	height: 100px;
	width: 80%;
	max-width: 1800px;
	-webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
	mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

.banner {
	display: flex;
	gap: 50px;
	width: max-content;
	animation: scroll-banner 80s linear infinite;
}

.reverse-banner {
	animation: scroll-banner 80s linear infinite reverse;
}

@keyframes scroll-banner {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-50% - 25px));
	}
}

.banner-el {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	gap: 20px;
	padding: 0 50px;
	height: 50px;
	background: var(--dark-one);
	border-radius: 9999px;
	border: 1px solid transparent;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
	--x: -100px;
	--y: -100px;
	background:
		radial-gradient(ellipse at top, var(--dark-three) 10%, var(--dark-one) 90%) padding-box,
		radial-gradient(circle 200px at var(--x) var(--y), rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%)
			padding-box,
		radial-gradient(circle 200px at var(--x) var(--y), rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%)
			border-box,
		linear-gradient(to right, var(--dark-three), var(--middle-three), var(--dark-three)) border-box;
	will-change: background-position;
}

.banner-el img {
	max-height: 60%;
	object-fit: contain;
}

.general-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 70%;
	max-width: 1400px;
	gap: 50px;
	margin: 100px 0;
}

.general-info h2 {
	margin: 0;
}

.general-info > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.general-info p {
	margin: 20px 0;
}

@media screen and (max-width: 1000px) {
	.general-info {
		grid-template-columns: 1fr;
	}
}

.track {
	width: 100%;
	overflow: hidden;
	height: auto;
	margin-bottom: 200px;
	margin-top: -150px;
}

.main-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	perspective: 50vh;
	width: 100%;
	height: 90vh;
}

#card {
	margin-top: 150px;
	min-height: min(50vh, 900px);
	width: min(80vw, 800px);
	position: absolute;
}

#card p {
	width: 85%;
	margin: 0;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	section:not(:last-of-type) {
		padding-bottom: 150px;
	}
	.main {
		padding-bottom: 150px !important;
	}
	.main-cards {
		height: auto;
		flex-direction: column;
		perspective: none;
	}
	#card {
		position: static;
		margin-top: 50px;
		width: 90vw;
		min-height: auto;
		transform: none !important;
	}
	.track {
		height: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	.swiper-banner {
		display: none;
	}
	.main-stroke {
		display: none;
	}
	.stars {
		height: 150rem;
	}
}
