.drawings-stroke {
	margin-top: -80px;
	margin-bottom: -40px;
}

.drawings-track {
	height: 120vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drawing-card {
	margin: 20px;
	background: black;
	position: absolute;
}

.drawing-card img {
	height: 600px;
	width: auto;
	opacity: 0.8;
	transition: transform 0.3s ease;
}

#dc-1 {
	z-index: 3;
}
#dc-2 {
	margin-top: 60px;
	z-index: 2;
	transform: scale(0.95);
}
#dc-3 {
	margin-top: 100px;
	z-index: 1;
	transform: scale(0.9);
}
