.drawings-stroke {
	margin-top: -5rem;
	margin-bottom: -2.5rem;
}

.drawings-track {
	height: clamp(103.125rem, max(200vw, 150vh), 125rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.drawing-card {
	margin: 1.3rem;
	background: black;
	position: absolute;
}

.drawing-card img {
	width: auto;
	max-width: 90vw;
	max-height: 37.5rem;
	opacity: 0.8;
	transition: transform 0.3s ease;
}

#dc-1 {
	z-index: 3;
}
#dc-2 {
	margin-top: 3.75rem;
	z-index: 2;
	transform: scale(0.95);
}
#dc-3 {
	margin-top: 6.25rem;
	z-index: 1;
	transform: scale(0.9);
}

@media screen and (max-width: 767px) {
	.drawings-stroke {
		display: none;
	}
	.drawings-track {
		height: auto;
	}
	.drawing-card {
		position: relative;
	}
	#dc-2 img {
		margin-top: 0;
		transform: none;
		max-width: 70vw;
	}
	#dc-3 {
		margin-top: 0;
		transform: none;
	}
}
