body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.all-projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, clamp(400px, 40vw, 900px));
	grid-template-rows: repeat(2, auto);
	width: 80%;
	justify-content: center;
	margin-bottom: 200px;
}

@media screen and (max-width: 1000px) {
	.all-projects {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, auto);
		width: 95%;
	}
}