:root {
	--dark-one: rgb(13, 6, 26);
	--dark-two: rgb(20, 11, 43);
	--dark-three: rgb(38, 31, 49);
	--dark-four: rgb(35, 25, 63);
	--middle-one: rgb(149, 133, 203);
	--middle-two: rgb(159, 156, 164);
	--middle-three: rgb(175, 153, 250);
	--light-one: rgb(170, 163, 194);
	--light-two: rgb(230, 232, 233);
	--secondary-contrast: rgb(255, 237, 242);
	--accent: rgb(0, 255, 136);

	font-optical-sizing: auto;
	font-family: 'Work Sans', sans-serif;
	color: var(--light-one);
	font-weight: 300;
	letter-spacing: 0.1rem;
	font-style: normal;
	font-size: clamp(10px, 0.888vw, 16px)
}

body {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	background: var(--dark-one);
	color: var(--light-one);
}

.show {
	border: 1px solid red !important;
}

.show * {
	border: 1px solid red !important;
}

.back {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4rem;
	left: 4rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 99999px;
	background: rgba(0, 0, 0, 0.5);
	color: var(--light-two);
	border: 1px solid var(--middle-one);
	cursor: pointer;
	z-index: 1001;
	font-weight: 500;
	text-decoration: none;
}

.stroke-title {
	font-family: 'Zalando Sans Expanded', sans-serif;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.03);
	font-weight: 900;
	font-size: 10rem;
	text-transform: uppercase;
	text-align: center;
}

.big-title {
	font-family: 'Zalando Sans Expanded', sans-serif;
	font-weight: 900;
	font-size: 8rem;
	letter-spacing: -0.2rem;
	text-align: center;

	background: linear-gradient(to bottom, var(--accent), rgb(0, 126, 94));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.title {
	font-family: 'Zalando Sans Expanded', sans-serif;
	font-size: 5rem;
	font-weight: 700;
	text-align: center;

	background: linear-gradient(to bottom, var(--light-two), var(--middle-three));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.subtitle {
	font-family: 'Zalando Sans Expanded', sans-serif;
	font-size: 3rem;
	color: var(--light-two);
	font-weight: 600;
	text-align: center;
}

.body {
	font-family: 'Work Sans', sans-serif;
	font-size: 2rem;
	color: var(--light-one);
	font-weight: 300;
	letter-spacing: 0.1rem;
}

.sub-body {
	font-family: 'Work Sans', sans-serif;
	color: var(--light-one);
	font-weight: 200;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
}

.detail-txt {
	font-family: 'Work Sans', sans-serif;
	color: var(--light-one);
	font-size: 1.3rem;
	font-weight: 100;
	letter-spacing: 0.25rem;
}

.gradient-card {
	border: 1px solid var(--middle-one);
	border-radius: 10px;
	background: linear-gradient(135deg, var(--dark-two), var(--dark-one));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.overlay-card {
	position: relative;
	overflow: hidden;
}

.overlay-card .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	cursor: pointer;
	text-decoration: none;
}

.overlay-card:hover .overlay {
	opacity: 1;
}

.overlay-card img {
	transition: transform 0.3s ease;
}
.overlay-card:hover img {
	transform: scale(1.03);
}

.image-card {
	border: 1px solid var(--middle-one);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.bordered {
	border: 1px solid var(--middle-one);
	border-radius: 20px;
}

.white {
	color: var(--light-two);
}
