.popup {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.6);
}

.close-btn-popup {
	position: absolute;
	top: 4rem;
	left: 4rem;
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 99999px;
	background: rgba(0, 0, 0, 0.5);
	color: rgb(var(--light-two));
	border: 1px solid rgb(var(--middle-one));
	cursor: pointer;
	z-index: 1001;
}

.big-slider {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 75%;
	margin-bottom: 10px;
}

.big-slider .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.small-slider {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 15%;
	gap: 10px;
}

.small-slider .swiper-wrapper {
	justify-content: center;
	gap: 0;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	-webkit-user-select: none; /* Safari / Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE / Edge */
	user-select: none;
}

.swiper-button-next,
.swiper-button-prev {
	width: 5rem !important;
	height: 5rem !important;
	padding: 1rem;
	border-radius: 99999px;
	border: none;
	background: rgba(0, 0, 0, 0.5);
	color: white !important;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: auto !important;
}
